*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px;
}

body {
    background-image: linear-gradient(120deg,  rgba(15, 164, 210, 0.83),rgba(14, 83, 129, 0.95));
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5em;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    outline: none;
}

form button{
    color: rgba(14, 83, 129);
    background: white;
    cursor: pointer;
    transition: all .3s ease;
}
form button:hover{
    background: rgba(14, 83, 129);
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn , .complete-btn {
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.complete-btn{
    background: #51d52b;
}
.complete-btn:hover , .complete-btn:focus{
    background: #44af25;
}

.trash-btn{
    background: #ff0006;
}
.trash-btn:hover , .trash-btn:focus{
    background: #e10005;
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash , .fa-check {
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transition: translateY(8rem);
    transform: scale3d(1.1,1.1,1.1);
    opacity: 0%;
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: rgba(14, 83, 129);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: rgba(14, 83, 129);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease ;
}

.select:hover::after{
    background: white;
    color: rgba(14, 83, 129);
}

select.selector{
    color:red;
}